<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Brefly</string>
	<key>CFBundleExecutable</key>
	<string>Brefly</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.brefly.dictation</string>
	<key>CFBundleName</key>
	<string>Brefly</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.4</string>
	<key>CFBundleVersion</key>
	<string>23</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>커서 위치에 텍스트를 붙여 넣기 위해 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>말한 내용을 텍스트로 받아쓰기 위해 마이크를 사용합니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>녹음한 음성을 텍스트로 변환하기 위해 음성 인식을 사용합니다.</string>
	<key>SUFeedURL</key>
	<string>https://yunuchoiii.github.io/brefly-pages/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>WgNSMNmSfWKU1VqkAs9vXkmFsArMs/xvqP6WVPZ2vOg=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
